.Product {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
}
.Product:hover {
  transform: scale(1.07);
}
.Product > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}
.info {
  margin-top: -9px;
  padding: 20px;
  border: 1;
  border-radius: 10px;
}
.info > h2 {
  font-size: 18px;
  font-weight: 600;
}
.info > h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
.info > h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.info > button {
  width: 100%;
  color: #fff;
  background-color: #83654e;
}
.info > button:hover {
  color: #83654e;
  background-color: #fff;
}
